body {
  background-color: #F5F6F7;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.page {
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  position: relative;
  color: #1A1B22;
  height: 100vh;
  display: flex;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.page__menu{
  width: 100%;
  padding: 40px 80px;
}
.title{
  font-size: 24px;
  margin-bottom: 24px;
}